<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <script src="https://unpkg.com/htmx.org@1.9.9" -->
    <!--     integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"> -->
    <!--     </script> -->
    <!---->
    <!-- <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1"> -->
    <!-- <link rel="stylesheet" href="/static/styles.css"> -->
    <script src="/static/index.js" type="module"></script>
    <title>CESRinfo</title>
</head>

<body>
    <!-- <header class="navbar justify-content:space-evenly" data-overflow-nav> -->
    <!--     <nav aria-label="Site sections" style="margin-left: 0"> -->
    <!--         <ul role="list"> -->
    <!--             <li><a href="/">Home</a> -->
    <!--             <li><a href="/blog">Blog</a> -->
    <!--             <li><a href="/static/cv.pdf" type="application/pdf">Resume</a> -->
    <!--         </ul> -->
    <!--     </nav> -->
    <!--     <nav aria-label="Social media links" style="margin-right: 0"> -->
    <!--         <ul role="list"> -->
    <!--             <li><a href="https://www.linkedin.com/in/ioan-stanila/">Linked In</a> -->
    <!--             <li><a href="https://github.com/sioan7">GitHub</a> -->
    <!--         </ul> -->
    <!--     </nav> -->
    <!-- </header> -->
    <main>
        {% block content %}<p>Content not loaded! This is an error.</p>{% endblock %}
    </main>
</body>

</html>
