<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.1">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="modulepreload" href="/static/cesrinf_wasm.js" type="module">
    <script src="/static/index.js" type="module"></script>
    <title>CESRinfo</title>
</head>

<body>
    <header class="navbar justify-content:space-evenly" data-overflow-nav>
        <a class="base__logo" href="/">
            <h1>CESRinfo</h1>
        </a>
    </header>
    <main>
        {% block content %}<p>Content not loaded! This is an error.</p>{% endblock %}
    </main>
</body>

</html>
