{% extends "base.html" %}

{% block content %}

<div class="index__parsing">
    <textarea id="parsing-in" rows="5"></textarea>
    <button id="parsing-btn">Parse CESR</button>
    <div id="parsing-preview"></div>
    <textarea id="parsing-out" rows="25"></textarea>
</div>

<h3>Examples</h3>
<p>
    <em style="margin-bottom:1rem">Click to parse:</em>
</p>
<div id="examples" class="index__examples">
    {% for example in examples %}
        <div class="index__examples-example"> {{ example }} </div>
    {% endfor %}
    <div>
</div>


{% endblock %}
